{% extends "./base.html.twig" %}
{% block title %}Ajouter{% endblock title %}
{% block content %}
{{ parent() }}
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
   
        
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="index.html">
                        <img src="images/icon/.png" alt="CoolAdmin" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                         
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="../../ajouter.php">
                                <i class="fas fa-cart-plus"></i>Ajouter
                                </a>
                         
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-undo-alt"></i>Modifier
                                </a>
                         
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-trash-alt"></i>Supprimer
                                </a>
                         
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-ticket-alt"></i>Tickets
                                </a>
                         
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-book"></i>Manuels
                                </a>
                         
                        </li>
                       
                       
                        
                    </ul>
                </ul>
            </div>
        </nav>
    </header>
    
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#">
                <img src="images/icon/logo.png" alt="Cool Admin" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1 ">
            <nav class="navbar-sidebar ">
                <ul class="list-unstyled navbar__list ">
                    <li class="has-sub ">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                     
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="../../ajouter.php">
                            <i class="fas fa-cart-plus"></i>Ajouter
                            </a>
                     
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-undo-alt"></i>Modifier
                            </a>
                     
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-trash-alt"></i>Supprimer
                            </a>
                     
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-ticket-alt"></i>Tickets
                            </a>
                     
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-book"></i>Manuels
                            </a>
                     
                    </li>
                    
                   
                    
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" action="" method="POST">
                            <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                            <button class="au-btn--submit" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                        <div class="header-button">
                            <div class="noti-wrap">
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-comment-more"></i>
                                    <span class="quantity">1</span>
                                    <div class="mess-dropdown js-dropdown">
                                        <div class="mess__title">
                                            <p>You have 2 news message</p>
                                        </div>
                                        <div class="mess__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                            </div>
                                            <div class="content">
                                                <h6>Michelle Moreno</h6>
                                                <p>Have sent a photo</p>
                                                <span class="time">3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="mess__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-04.jpg" alt="Diane Myers" />
                                            </div>
                                            <div class="content">
                                                <h6>Diane Myers</h6>
                                                <p>You are now connected on message</p>
                                                <span class="time">Yesterday</span>
                                            </div>
                                        </div>
                                        <div class="mess__footer">
                                            <a href="#">View all messages</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-email"></i>
                                    <span class="quantity">1</span>
                                    <div class="email-dropdown js-dropdown">
                                        <div class="email__title">
                                            <p>You have 3 New Emails</p>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, 3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, Yesterday</span>
                                            </div>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, April 12,,2018</span>
                                            </div>
                                        </div>
                                        <div class="email__footer">
                                            <a href="#">See all emails</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-notifications"></i>
                                    <span class="quantity">3</span>
                                    <div class="notifi-dropdown js-dropdown">
                                        <div class="notifi__title">
                                            <p>You have 3 Notifications</p>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c1 img-cir img-40">
                                                <i class="zmdi zmdi-email-open"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a email notification</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c2 img-cir img-40">
                                                <i class="zmdi zmdi-account-box"></i>
                                            </div>
                                            <div class="content">
                                                <p>Your account has been blocked</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c3 img-cir img-40">
                                                <i class="zmdi zmdi-file-text"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a new file</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__footer">
                                            <a href="#">All notifications</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">john doe</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">john doe</a>
                                                </h5>
                                                <span class="email">johndoe@example.com</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="logout.php">
                                                <i class="zmdi zmdi-power"></i>Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="container">
                        
                           
                            <form action="" method="post" name="formAdd" id="formAdd">
                                
                                 
                                <div class="form-row">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                                        <input type="text" class="form-control" name="nom" id="adresse" placeholder="Nom du produit acheté" >
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                                        <input type="text" class="form-control" name="reference" id="url" placeholder="référence du produit " >
                                    </div>
                                </div>



                                <div class="form-row">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                                        <input type="text" class="form-control" name="adresse" id="adresse" placeholder="Adresse">
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                                        <input type="text" class="form-control" name="url" id="url" placeholder="Url">
                                    </div>
                                </div>


                                <div class="form-row">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                                        <input type="date" class="form-control " name="date_achat" id="adresse" placeholder="Votre date d'achat">
                                       
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12 col-lg-6 ">
                                        
                                        <input type="date" class="form-control" name="date_fin_garantie" id="url" placeholder="Votre date de fin de garantie">
                                       
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                                        <label for="ticket_achat">Votre ticket d'achat</label>
                                        <input type="file" class="form-control-file" name="ticket_achat" id="ticket_achat" placeholder="Votre ticket d'achat">
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                                        <label for="manuel">Manuel d'utilisation</label>
                                        <input  type="file" class="form-control-file input-group-prepend" name="manuel" id="manuel" placeholder="Votre manuel d'utilisation" >
                                        <span class="input-group-text" id="addon-wrapping"><i class="zmdi zmdi-file-text"></i></span>
                                    </div>
                                </div>
                                   
                                <div class="form-row">
                                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                        <textarea name="conseil_entretien" id="conseil_entretien"  cols="30" rows="10" placeholder="Vos conseil d'entretien"></textarea>
                                        
                                    </div>
                                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                        <select name="categorie" id="categorie">
                                            <option value="">Choississez votre catégorie</option>
                                            <option value="1">Loisirs</option>
                                            <option value="2">Vêtements</option>
                                            <option value="3">Multimédia</option>
                                            <option value="4">jeux & jouets</option>
                                            <option value="5">Vélos</option>
                                            <option value="6">Téléphonie</option>
                                            <option value="7">Electroménager</option>
                                            <option value="8">Bricolage</option>
                                            <option value="9">Maison</option>
                                            <option value="10">Mode</option>
                                        </select>
                                        
                                    </div>
                                    
                                    
                                </div>
                                <div class=" col-sm-12 col-md-12 col-lg-12">
                                    <input type="submit"  value="Ajouter" class="btn btn-primary btn-lg btn-block" id="formSubmit" onclick="validateForm()">
                                </div>
                            </form> 
                        </div>
                        
                    </div>
                </div>
            </div>
{{dump(nom)}}

                                
                                <!-- <label>Nom</label>
                                <input type="text" name="nom" id="nom" placeholder="Nom" class="formInput">
                                <label>Référence</label>
                                <input type="text" name="categorie" id="categorie" placeholder="Référence" class="formInput">
                                <label>Catégorie</label>
                                <input type="text" name="reference" id="reference" placeholder="Catégorie" class="formInput">
                                <label>Date d'achat</label>
                                <input type="date" name="date_achat" id="date_achat" placeholder="Date d'achat" class="formInput">
                                <label>Date de fin de garantie</label>
                                <input type="date" name="date_fin_garantie" id="date_fin_garantie" placeholder="Date de fin de garantie" class="formInput">
                                <label>Prix</label>
                                <input type="text" name="prix" id="prix" placeholder="Prix" class="formInput">
                                <label>Conseil entretien</label>
                                <input type="textarea" name="conseil_entretien" id="conseil_entretien" placeholder="Conseil entretien" rows="3" class="formInput">
                                <label>Ticket achat</label>
                                <input type="file" name="ticket_achat" id="ticket_achat" placeholder="Ticket achat" class="formInput">
                                <label>Manuel</label>
                                <input type="file" name="manuel" id="manuel" placeholder="Manuel" class="formInput">
                                <input type="button" value="Ajouter" id="formSubmit" onclick="validateForm()"> -->
                

{% endblock content %}
{% block javascript %}
{{ parent() }}
<script src="js/script.js"></script>
{% endblock javascript %}
