<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

   

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="dist/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="dist/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="dist/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="dist/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- dist CSS-->
    <link href="dist/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="dist/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="dist/wow/animate.css" rel="stylesheet" media="all">
    <link href="dist/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="dist/slick/slick.css" rel="stylesheet" media="all">
    <link href="dist/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="dist/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <!-- favicon -->
    <link  rel = "apple-touch-icon"  tailles = "57x57"  href = "./favicon/apple-icon-57x57.png" > 
<link  rel = "apple-touch-icon"  tailles = "60x60"  href = "./favicon/ apple -icon-60x60.png " > 
<link  rel = " apple-touch-icon "  tailles = " 72x72 "  href = " ./favicon/apple-icon-72x72.png " > 
<link  rel = " apple-touch-icon "  tailles = "76x76"  href = "./favicon/apple-icon-76x76.png" > 
<link  rel = "apple-touch-icon "  tailles = " 114x114 "  href = " ./favicon/apple-icon-114x114.png "> 
<link  rel = "apple-touch-icon"  tailles = "120x120"  href = "./favicon/apple-icon-120x120.png" > 
<link  rel = "apple-touch-icon"  tailles = "144x144"  href = "./favicon/ apple-icon-144x144.png " > 
<link  rel = " apple-touch-icon "  tailles = " 152x152 "  href = " ./favicon/apple-icon-152x152.png " > 
<link  rel = " apple-touch-icon "  tailles = "180x180"  href = "./favicon/apple-icon-180x180.png" > 
<link  rel = "icon"  type = "image / png"  tailles = "192x192"  href = "./favicon/android-icon-192x192.png" > 
<link  rel = "icon"  type = "image / png"  tailles = "32x32"  href = "./favicon/favicon-32x32.png" > 
<link  rel = "icon"  type = "image / png"  tailles = "96x96"  href = "./favicon/favicon-96x96.png" > 
<link  rel = "icon"  type = "image / png"  tailles = "16x16"  href = "./favicon/ favicon-16x16. png " > 
<link  rel = " manifest " href = "./favicon/manifest.json" > 
<meta  name ="msapplication-TileColor"  content = "#ffffff" > 
<meta  name = "msapplication-TileImage"  content = "./favicon/ms-icon-144x144.png" > 
<meta  name = "theme-color"  content = "#ffffff" >


<!-- <link rel="shorcut icon" type="image/x-icon" href="./images/icon/cady.ico"/> -->

<!-- <link rel="icon" href="./images/icon/favicon.png" type="image/png" /> -->
    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">
   
    <title>{% block title %}
       Base Twig
    {% endblock title %} </title>
    {% endblock head %}
</head>
<body class="animsition">
    <main>
        {% block content %}
        <div class="page-wrapper">
            <!-- HEADER MOBILE-->
           
            <header class="header-mobile d-block d-lg-none">
                <div class="header-mobile__bar">
                    <div class="container-fluid">
                        <div class="header-mobile-inner">
                            <a class="logo" href="index.html">
                                <img src="images/icon/avatar02.png" alt="CoolAdmin" />
                            </a>
                            <button class="hamburger hamburger--slider" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <nav class="navbar-mobile">
                    <div class="container-fluid">
                        <ul class="navbar-mobile__list list-unstyled">
                            <ul class="list-unstyled navbar__list">
                                <li class="has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                                 
                                </li>
                                <li class="has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-cart-plus"></i>Ajouter
                                        </a>
                                 
                                </li>
                                <li class="has-sub">
                                    <a class="js-arrow" href="logout.php">
                                        <i class="zmdi zmdi-power"></i>Déconnexion</a>
                                </li>
                              
                            </ul>
                        </ul>
                    </div>
                </nav>
            </header>
            
            <!-- END HEADER MOBILE-->
        
            <!-- MENU SIDEBAR-->
            <aside class="menu-sidebar d-none d-lg-block">
                <div class="logo">
                    <a href="#">
                        <img src="images/icon/logo.png" alt="Cool Admin" />
                    </a>
                </div>
                <div class="menu-sidebar__content js-scrollbar1 ">
                    <nav class="navbar-sidebar ">
                        <ul class="list-unstyled navbar__list ">
                            <li class="has-sub ">
                                <a class="js-arrow" href="index.php">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                             
                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="ajouter.php">
                                    <i class="fas fa-cart-plus"></i>Ajouter
                                    </a>
                             
                            </li>
                            <li class="has-sub">
                               
                                <a class="js-arrow" href="logout.php">
                                    <i class="fas fa-power-off"></i>Déconnexion</a>
                            </li>
                            
                        </ul>
                        
                    </nav>
                </div>
            </aside>
            <!-- END MENU SIDEBAR-->
        
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <!-- HEADER DESKTOP-->
                <header class="header-desktop">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="header-wrap">
                                <form class="form-header" action="index.php" method="POST">
                                    <input class="au-input au-input--xl" type="text" name="search" placeholder="Rechercher un produit" />
                                    <button class="au-btn--submit" type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                                <div class="header-button">
                                   
                                    <div class="account-wrap">
                                        <div class="account-item clearfix js-item-menu">
                                            <div class="image">
                                                <img src="images/icon/avatar-03.jpg" alt="John Doe" />
                                            </div>
                                            <div class="content">
                                                <a class="js-acc-btn" href="#">{{avatar}}</a>
                                            </div>
                                            <div class="account-dropdown js-dropdown">
                                                <div class="info clearfix">
                                                    <div class="image">
                                                        <a href="#">
                                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <h5 class="name">
                                                            <a href="#">{{avatar}}</a>
                                                        </h5>
                                                        <span class="email">{{email}}</span>
                                                    </div>
                                                </div>
                                                <div class="account-dropdown__footer">
                                                    <a href="logout.php">
                                                        <i class="zmdi zmdi-power"></i>Déconnexion</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- HEADER DESKTOP-->
        
                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                          
                           
                           {% block add %}
                               
                           {% endblock add %}

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% endblock content %}

    </main>
    
 
<footer>
    {% block javascript %}
      <!-- Jquery JS-->
      <script src="dist/jquery-3.2.1.min.js"></script>
      <!-- Bootstrap JS-->
      <script src="dist/bootstrap-4.1/popper.min.js"></script>
      <script src="dist/bootstrap-4.1/bootstrap.min.js"></script>
      <!-- dist JS       -->
      <script src="dist/slick/slick.min.js">
      </script>
      <script src="dist/wow/wow.min.js"></script>
      <script src="dist/animsition/animsition.min.js"></script>
      <script src="dist/bootstrap-progressbar/bootstrap-progressbar.min.js">
      </script>
      <script src="dist/counter-up/jquery.waypoints.min.js"></script>
      <script src="dist/counter-up/jquery.counterup.min.js">
      </script>
      <script src="dist/circle-progress/circle-progress.min.js"></script>
      <script src="dist/perfect-scrollbar/perfect-scrollbar.js"></script>
      <script src="dist/chartjs/Chart.bundle.min.js"></script>
      <script src="dist/select2/select2.min.js">
      </script>
  
      <!-- Main JS-->
      <script src="js/main.js"></script>
      <script src="js/script.js"></script>
    {% endblock javascript %}

</footer>
   
</body>
</html>